.red-button {
  background-color: hsl(0, 100%, 50%);
  color: white;
  border-color: #ff0000;
}

.on {
  background-color: green;
  border-color: green;
}

#roomId {
  width: 10rem;
}

#videoContainer {
  display: none;
  gap: 2rem;
}

#videoContainer div {
  display: flex;
  flex-direction: column;
}

hr {
  margin: 1rem 0;
}

#log-container {
    height: 300px;
    overflow-y: auto;
    list-style-type: none;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f4f4f4;
}

#log-container li {
    padding: 0;
    font-size: 0.8rem;
}